beautifulsoup4==4.12.3
dominate==2.9.1
matplotlib==3.7.1
numpy==1.25.2
pandas==2.0.3
Pillow==9.4.0
pybind11==2.12.0
Requests==2.32.3
scikit_image==0.19.3
scikit_learn==1.2.2
scipy==1.13.1
setuptools==67.7.2
svgwrite==1.4.3
tensorflow==2.15.0
tensorflow_probability==0.23.0
torch
torchvision
torchviz==0.0.2
tqdm==4.66.4
visdom==0.2.4
